.DS_Store

# NPM
node_modules/

# Dev
dev/
dev_firefox/
dev_safari/

# Prod
dist/
dist_firefox/
dist_safari/
builds/
release/
changelogs/
assets/shared
*.map
obsidian-lark-import-plugin/main.js

# Xcode
*.xcuserstate
*.xcuserdatad

.context
.cursorrules
.env
context/
